body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dark {
  color: aliceblue;
  background-color: rgb(16, 24, 37);
}
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
/* navbar section */
#nav {
  background-color: rgb(56, 56, 57) !important;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.my-nav {
  padding: 10px;
  min-height: 30vh;
  background-image: url("./assets/Austin.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.personal-pic-header {
  height: 10rem;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.title-header {
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  text-decoration: solid;
}

#experience-card {
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 10px 50px rgb(128, 127, 127);
  margin: 30px;
}

/* Testimony page */
.testimonies-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimony-card {
  width: 40%;
  background-color: rgb(232, 228, 228) !important;
  margin: 20px;
  box-shadow: 0 0 20px gray !important;
}
/* footer section */
.footer {
  min-height: 25vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: rgb(66, 67, 67);
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-section {
  margin: 3px;
  font-size: 2rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-section h4 {
  font-size: 3rem;
}
.footer-icon {
  width: 3.2rem;
  margin: 5px;
}
.footer-section p {
  font-size: 1.2rem;
  margin: 5px;
}
.footer-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}
.footer-icon-contact {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.footer-icon-contact p {
  font-size: 0.8rem;
}
.footer-icons-contact-container {
  display: flex;
}
#media-card {
  margin: 10px;
  box-shadow: 0 10px 10px rgb(22, 21, 21);
  background-color: rgb(66, 67, 67);
  color: aliceblue;
}
#media-card-image {
  height: 14rem;
  object-fit: contain;
}
.projects-header {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  padding-left: 10px;
}
.project-link {
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  margin-right: 20px;
}

.motto {
  font-size: 1.3rem;
  color: rgb(164, 164, 9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 90%;
}
.logos-container article {
  color: rgb(128, 127, 127);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}
.logos-div {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  height: 3.2rem;
  margin: 10px;
}
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.contact-card {
  background-color: rgb(66, 67, 67);
  color: rgb(214, 217, 220);
  width: 90vw;
  margin: 20px 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row-about {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-pic {
  height: 15rem;
  margin-bottom: 20px;
}
.about-card {
  background-color: rgb(66, 67, 67);
  color: rgb(214, 217, 220);
  width: 90vw;
  margin: 20px 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
.contact-form {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  width: 90%;
}
.contact-form button {
  margin: 10px;
  padding: 5px;
  width: 50%;
  font-size: 1.3rem;
  background-color: rgba(54, 175, 54, 0.597);
  color: aliceblue;
}
#map {
  height: 300px;
  width: 90%;
}
.contact-link {
  color: rgb(111, 111, 235);
  text-decoration: none;
}
.non-found {
  height: 100vh;
  width: 100vw;
  background-color: rgb(128, 127, 127);
  object-fit: cover;
  background-image: url("./assets/404.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 750px) {
  .my-nav {
    padding: 20px;
    min-height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    font-size: 1.8rem;
    margin: 0 20px;
    text-decoration: underline;
  }
  .nav-link:hover {
    text-shadow: 0 0 20px rgb(70, 70, 70);
  }
  .projects-page {
    background-color: rgba(29, 33, 47, 0.463);
    color: aliceblue;
    margin: 10px;
    border-radius: 1rem;
  }
  .projects-header {
    font-size: 4rem;
    padding-left: 30px;
    width: 100%;
    color: aliceblue;
  }
  .link {
    color: white;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin: 20px;
  }
  .project-link:hover {
    color: rgb(24, 138, 244);
    text-decoration: underline;
  }
  .personal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    height: 3rem;
    margin: 20px;
  }

  .contact-card {
    width: 90vw;
    margin: 40px 20px;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .contact-form-container {
    width: 60%;
  }
  .contact-form {
    margin: 20px;
    padding: 20px;
    width: 60%;
  }
  .contact-form input {
    width: 60%;
  }
  .contact-form button {
    width: 20%;
  }
  #map {
    height: 600px !important;
    width: 850px !important;
  }

  /* footer section  */
  .footer {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer-section {
    min-height: 25vh;
    margin: 10px;
  }
  .footer-icon {
    width: 4rem;
    margin: 15px;
  }
  .motto {
    font-size: 1.8rem;
    width: 60%;
  }
  .row-about {
    margin: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
